import { specs } from './swagger.config.ts';
import fs from 'fs';
import path from 'path';

// O caminho de saída deve ser o local onde o Kubb espera o swagger.json
const outputPath = path.resolve(process.cwd(), 'swagger.json');

fs.writeFileSync(outputPath, JSON.stringify(specs, null, 2));
console.log(`✅ Swagger JSON gerado em: ${outputPath}`);
