PORT=3007
# Use a porta 6543 para Transaction Mode ou 5432 para Session Mode
# OBRIGATÓRIO incluir ?pgbouncer=true&connection_limit=10 na VPS
DATABASE_URL="postgresql://usuario:senha@host:porta/postgres?schema=auto_contrato&pgbouncer=true&connection_limit=10"
JWT_SECRET=
# JSON das credenciais do Google Sheets (minificado ou em uma linha)
GOOGLE_SHEETS_CREDENTIALS=
NODE_ENV=production

# Clicksign API
CLICKSIGN_API_TOKEN=
CLICKSIGN_API_URL=https://sandbox.clicksign.com/api/v1